@addTagHelper *, Microsoft.AspNetCore.Mvc.Taghelpers


<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <a asp-controller="Settings" asp-action="Create">Create</a>
    <a asp-controller="Settings" asp-action="Display">Display</a>
</body>
</html>